/** This is the styling for the landing page **/


body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #0e3768;
  padding: 10px 20px;
  text-align: right;
  color: white;
}

.header .buttons button {
  padding: 8px 16px;
  margin-left: 8px;
  background-color: #ffffff;
  color: #0e3768;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.header .buttons button:hover {
  background-color: #f0f0f0;
}

.login-btn {
  padding: 8px 16px;
  margin-left: 8px;
  background-color: #ffffff;
  color: #0e3768;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.register-btn {
  padding: 8px 16px;
  margin-left: 8px;
  background-color: #ffffff;
  color: #0e3768;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.hero {
  background-color: #caffbf;
  color: #000000;
  text-align: center;
  padding: 50px 20px;
}

.hero h1 {
  color: #0e3768;
  font-size: 98px;
  margin: 0;
}

.hero p {
  color: #0e3768;
  font-size: 18px;
}
.benefits {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f4f4f4;
}

.benefits .benefit {
  width: 30%;
  padding: 20px;
  text-align: center;
  background: #0e3768;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.benefits .benefit h3 {
  color: #caffbf;
}

.benefits .benefit p {
  color: #FFF;
  font-size: 16px;
}
